<header>
  <h1>Panel de Usuario</h1>
</header>
<main class="container">
  <section class="principal">
    <mat-card class="card-one">
      <mat-card-header>
        <mat-card-title>
          <h2>Consultar grafica por estatus, area y fechas</h2>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div>
          <div>
              <label for="startDate4">Fecha Inicial: </label>
              <input type="date" [(ngModel)]="fechaInicioEstatus" name="startDate4">
          </div>
          <div>
              <label for="endDate4">Fecha Final: </label>
              <input type="date" [(ngModel)]="fechaFinEstatus" name="endDate4">
          </div>

          <div *ngIf="tokenStorage.getUser().roles.includes('ROLE_MODERATOR') || tokenStorage.getUser().roles.includes('ROLE_ADMIN')">
              <label for="area3">Área: </label>
              <select [(ngModel)]="selectedAreaEstatus" name="area3">
                  <option *ngFor="let area of areas" [value]="area.direccion">
                      {{ area.direccion }}
                  </option>
              </select>
          </div>

          <button mat-raised-button [disabled]="!debeHabilitarBuscar()" (click)="loadReporteEstatusEnlace()">Buscar</button>

          <button mat-raised-button [disabled]="!debeHabilitarBuscarModerador()"
              *ngIf="tokenStorage.getUser().roles.includes('ROLE_MODERATOR') || tokenStorage.getUser().roles.includes('ROLE_ADMIN')"
              (click)="loadReporteEstatusModerador()">Buscar Moderador</button>
        </div>

        <div *ngIf="reporteEstatus && reporteEstatus.length > 0">
          <h3>Estadísticas para {{ areaConsultada }}</h3>
          <canvas #chartEstatus></canvas>
          <ul>
            <li *ngFor="let estadistica of reporteEstatus">
              {{ estadistica.estatus }}: {{ estadistica.count }}
            </li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-one">
      <mat-card-header>
        <mat-card-title>
          <h2>Consultar grafica de oficios por area y fechas</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <div>
            <label for="startDate">Fecha Inicial: </label>
            <input type="date" [(ngModel)]="fechaInicioTiempoRespuesta" name="startDate3">
          </div>
          <div>
            <label for="endDate">Fecha Final: </label>
            <input type="date" [(ngModel)]="fechaFinTiempoRespuesta" name="endDate3">
          </div>

          <div
            *ngIf="tokenStorage.getUser().roles.includes('ROLE_MODERATOR') || tokenStorage.getUser().roles.includes('ROLE_ADMIN')">
            <label for="area">Área: </label>
            <select [(ngModel)]="selectedAreaTiempoRespuesta" name="area2">
              <option *ngFor="let area of areas" [value]="area.direccion">
                {{ area.direccion }}
              </option>
            </select>
          </div>

          <button mat-raised-button [disabled]="!debeHabilitarBuscarTiempoRespuesta()"
            (click)="loadReporteTiempoRespuestaEnlace()">Buscar</button>

          <button mat-raised-button [disabled]="!debeHabilitarBuscarTiempoRespuestaModerador()"
            *ngIf="tokenStorage.getUser().roles.includes('ROLE_MODERATOR') || tokenStorage.getUser().roles.includes('ROLE_ADMIN')"
            (click)="loadReporteTiempoRespuestaModerador()">Buscar Moderador</button>
        </div>
        <div>
          <canvas #chartTiempoRespuesta></canvas>

          <div *ngIf="reporteTiempoRespuesta && graficaTiempoRespuestaActivada">
            <p><b>Área consultada:</b> {{ areaConsultada }}</p>
            <p><b>Rango de fechas:</b> {{ fechaInicioTiempoRespuesta | date:'dd/MM/yyyy' }} - {{ fechaFinTiempoRespuesta
              | date:'dd/MM/yyyy' }}</p>
            <p><b>Promedio:</b> {{ reporteTiempoRespuesta.promedio_dias?.toFixed(2) }} días</p>
            <p><b>Mediana:</b> {{ reporteTiempoRespuesta.mediana_dias?.toFixed(2) }} días</p>
            <p><b>Percentil 25:</b> {{ reporteTiempoRespuesta.percentil25_dias?.toFixed(2) }} días</p>
            <p><b>Percentil 75:</b> {{ reporteTiempoRespuesta.percentil75_dias?.toFixed(2) }} días</p>
            <p><b>Desviación estándar:</b> {{ reporteTiempoRespuesta.desviacion_estandar_dias?.toFixed(2) }} días</p>
            <p><b>Total de oficios por 'Atendido':</b> {{ reporteTiempoRespuesta.total_atendidos }}</p>
            <p><b>Total de oficios por 'No Atendido':</b> {{ reporteTiempoRespuesta.total_no_atendidos }}</p>
            <p style="font-size: 20px;"><b>Total de oficios en general:</b> {{ reporteTiempoRespuesta.total_oficios }}
            </p>

            <table style="width: 100%; border-collapse: collapse;">
              <thead>
                <tr style="background-color: #f2f2f2;">
                  <th style="padding: 8px; border: 1px solid #ddd;">N° de Oficio</th>
                  <th style="padding: 8px; border: 1px solid #ddd;">Estatus</th>
                  <th style="padding: 8px; border: 1px solid #ddd;">Tiempo Recepción</th>
                  <th style="padding: 8px; border: 1px solid #ddd;">Tiempo Respuesta</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let oficio of reporteTiempoRespuesta.datos_oficios">
                  <td style="padding: 8px; border: 1px solid #ddd;">
                    <a [routerLink]="['/ficha_tecnica', oficio._id]">{{ oficio.num_oficio }}</a>
                  </td>
                  <td style="padding: 8px; border: 1px solid #ddd;">{{ oficio.estatus }}</td>
                  <td style="padding: 8px; border: 1px solid #ddd;">{{ oficio.tiempo_recepcion | date:'dd/MM/yyyy' }}
                  </td>
                  <td style="padding: 8px; border: 1px solid #ddd;">{{ oficio.tiempo_respuesta | date:'dd/MM/yyyy' }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="tokenStorage.getUser().roles.includes('ROLE_MODERATOR') || tokenStorage.getUser().roles.includes('ROLE_ADMIN')">
      <mat-card-header>
        <mat-card-title>
          <h3>Contador de edición de registros</h3>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div>
          <table>
            <thead>
              <tr>
                <th>Usuario</th>
                <th>Área</th>
                <th>Cantidad</th>
                <th>Última Respuesta</th>
                <th>Año</th>
                <th>Folio</th>
                <th>Num Oficio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let estadistica of estadisticas">
                <td>{{ estadistica.username }}</td>
                <td>{{ estadistica.area }}</td>
                <td>{{ estadistica.count }}</td>
                <td>{{ estadistica.ultima_modificacion.fecha_respuesta | date }}</td>
                <td>{{ estadistica.ultima_modificacion.anio }}</td>
                <td>{{ estadistica.ultima_modificacion.folio }}</td>
                <td>{{ estadistica.ultima_modificacion.num_oficio }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </section>

  <aside class="lateral">
    <mat-card class="card-one"
      *ngIf="tokenStorage.getUser().roles.includes('ROLE_MODERATOR') || tokenStorage.getUser().roles.includes('ROLE_ADMIN')">
      <mat-card-header>
        <mat-card-title>
          <h3>Reporte en forma de resumen por dia</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <div>
            <input type="date" [(ngModel)]="fechaBusquedaDiaria">
            <button (click)="loadReporteDiario()">Buscar</button>
            <button mat-raised-button (click)="downloadReporteDiario()" [disabled]="!busquedaExitosa">Exportar a EXCEL</button>
            <div *ngIf="reportesDiarios && reportesDiarios.length > 0">
              <div *ngFor="let reporte of reportesDiarios">
                <h3>{{ reporte.asignado }}</h3>
                <p>Fecha de recepcion: {{reporte.fecha_recepcion | date }}</p>
                <ul>
                  <li *ngFor="let asunto of reporte.asunto">
                    {{ asunto }} <br><br>
                  </li>
                  <p>Cantidad de registros: {{ reporte.cantidad }}</p>
                </ul>
              </div>
            </div>
            <div *ngIf="!reportesDiarios || reportesDiarios.length === 0">
              <p>No se encontraron registros para la fecha seleccionada.</p>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-two"
      *ngIf="tokenStorage.getUser().roles.includes('ROLE_MODERATOR') || tokenStorage.getUser().roles.includes('ROLE_ADMIN')">
      <mat-card-header>
        <mat-card-title>
          <h3>
            Reporte Diario
          </h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <div>
            <label for="startDate">Fecha Inicial: </label>
            <input type="date" [(ngModel)]="fechaInicioReporteDiario" name="startDate">
          </div>
          <div>
            <label for="endDate">Fecha Final: </label>
            <input type="date" [(ngModel)]="fechaFinReporteDiario" name="endDate">
          </div>
          <div>
            <label for="area">Área: </label>
            <select [(ngModel)]="selectedAreaReporteDiario" name="area">
              <option *ngFor="let area of areas" [value]="area.direccion">
                {{ area.direccion }}
              </option>
            </select>
          </div>
          <button mat-raised-button [disabled]="!selectedAreaReporteDiario" (click)="downloadReporteGeneral()">Excel
            Formato</button>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-three">
      <mat-card-header>
        <mat-card-title>
          <h3>
            Exportar registros por estatus y fecha
          </h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <div>
            <label for="startDate">Fecha Inicial: </label>
            <input type="date" [(ngModel)]="fechaInicioEstatus" name="startDate2">
          </div>
          <div>
            <label for="endDate">Fecha Final: </label>
            <input type="date" [(ngModel)]="fechaFinEstatus" name="endDate2">
          </div>
          <div>
            <label for="estatus">Estatus: </label>
            <select [(ngModel)]="estatusFiltro" name="estatus">
              <option value="ATENDIDO">Atendido</option>
              <option value="NO ATENDIDO">No Atendido</option>
            </select>
          </div>

          <div
            *ngIf="tokenStorage.getUser().roles.includes('ROLE_MODERATOR') || tokenStorage.getUser().roles.includes('ROLE_ADMIN')">
            <label for="area">Área: </label>
            <select [(ngModel)]="selectedArea" name="area">
              <option *ngFor="let area of areas" [value]="area.direccion">
                {{ area.direccion }}
              </option>
            </select>
          </div>

          <button mat-raised-button (click)="downloadReporteEstatusEnlace()">Generar Excel Enlace</button>
          <button mat-raised-button
            *ngIf="tokenStorage.getUser().roles.includes('ROLE_MODERATOR') || tokenStorage.getUser().roles.includes('ROLE_ADMIN')"
            (click)="downloadReporteEstatusModerador()" [disabled]="!selectedArea">Generar Excel</button>

          <!-- <div *ngIf="error" class="error-message"> {{ error }}
          </div> -->

        </div>
      </mat-card-content>
    </mat-card>
  </aside>
</main>
