<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h4>Instrumentos Juridicos</h4>
    </mat-card-title>
  </mat-card-header>
  <div class="buscador" style="display: grid; grid-template-columns: 1fr auto; gap: 16px; align-items: center;">
    <mat-form-field>
        <input matInput type="text" (input)="applyFilter($event)" placeholder="Busqueda avanzada en tiempo real">
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button (click)="newDialog()">Nuevo Registro</button>
  </div>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8">

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          Acciones
        </th>
        <td mat-cell *matCellDef="let row">
          <button mat-button (click)="editDialog(row)">
            <mat-icon> border_color </mat-icon>
          </button>

          <button mat-button disabled (click)="deleteById(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          Instrumento
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
            [length]="100"
            [pageSize]="15"
            [pageSizeOptions]="[25, 50, 100, 500]"
            aria-label="Select page">
    </mat-paginator>
  </mat-card-content>
</mat-card>
