<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Editar Seguimiento</h1>
    </mat-card-title>
    <mat-card-subtitle *ngIf="inputDetails">
      Estas editando el folio: <strong>{{inputDetails.folio}}</strong> con Num. Oficio <strong>{{inputDetails.num_oficio}}</strong>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="seguimientoForm" class="form-container" *ngIf="seguimientoForm" (ngSubmit)="onSubmit()">
      <div class="container">
        <mat-form-field  appearance="fill">
          <mat-label>Oficio Salida</mat-label>
          <input matInput type="text" formControlName="oficio_salida">
        </mat-form-field>

        <mat-form-field  appearance="fill">
          <mat-label>Num. Expediente</mat-label>
          <input matInput type="text" formControlName="num_expediente">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fecha Oficio Salida</mat-label>
          <input matInput [matDatepicker]="fechaOficioSalida" formControlName="fecha_oficio_salida">
          <mat-datepicker-toggle matSuffix [for]="fechaOficioSalida"></mat-datepicker-toggle>
          <mat-datepicker #fechaOficioSalida></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fecha Acuse Recibido</mat-label>
          <input matInput [matDatepicker]="fechaAcuseRecibido" formControlName="fecha_acuse_recibido">
          <mat-datepicker-toggle matSuffix [for]="fechaAcuseRecibido"></mat-datepicker-toggle>
          <mat-datepicker #fechaAcuseRecibido></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="container">
        <mat-form-field  appearance="fill">
          <mat-label>Destinatario</mat-label>
          <input matInput type="text" formControlName="destinatario">
        </mat-form-field>

        <mat-form-field  appearance="fill">
          <mat-label>Cargo</mat-label>
          <input matInput type="text" formControlName="cargo">
        </mat-form-field>

        <mat-form-field  appearance="fill">
          <mat-label>Atencion Otorgada</mat-label>
          <input matInput type="text" formControlName="atencion_otorgada">
        </mat-form-field>

        <mat-form-field  appearance="fill">
          <mat-label>Anexo</mat-label>
          <input matInput type="text" formControlName="anexo">
        </mat-form-field>
      </div>

      <div class="container">
        <mat-form-field appearance="fill">
          <mat-label>Estatus</mat-label>
          <mat-select formControlName="estatus">
            <mat-option *ngFor="let estatus of estatusOptions" [value]="estatus">
              {{ estatus }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="seguimientoForm.get('estatus')?.hasError('required')">El estatus es requerido</mat-error>
        </mat-form-field>

        <mat-form-field  appearance="fill">
          <mat-label>Firma Visado</mat-label>
          <input matInput type="text" formControlName="firma_visado">
        </mat-form-field>
      </div>

      <div class="container">
        <mat-form-field  appearance="fill">
          <mat-label>Observaciones</mat-label>
          <textarea matInput type="text" formControlName="comentarios"></textarea>
        </mat-form-field>
      </div>

      <div>
        <label>Archivos PDF:</label>
        <div formArrayName="archivosPdf_seguimiento">
            <div class="container-pdf" *ngFor="let pdfControl of archivosPdf_seguimientoFromArray.controls; let i = index">
                <mat-form-field appearance="fill">
                  <input matInput type="text" [formControlName]="i"
                    (paste)="cleanPastedText($event, i)">
                </mat-form-field>
                <button mat-icon-button color="warn" (click)="eliminarPdf(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <button mat-raised-button color="primary" type="button" (click)="agregarPdf()">Agregar PDF</button>
        </div>
      </div>

      <button mat-button (click)="salirSinGuardar()">Cerrar</button>
      <button mat-button cdkFocusInitial type="submit">Guardar</button>

    </form>
  </mat-card-content>
</mat-card>
