.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 175px);
  padding: 5px;
}

.principal {
  margin-bottom: 15px;
  flex: 1;
}

aside {
  margin-left: 0;
  flex: 1;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .principal {
    margin-bottom: 15px;
    flex: 2;
  }

  aside {
    margin-left: 10px;
    flex: 1;
  }
}

header {
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  height: 60px;
}

main {
  padding: 10px;
}

.info-column {
  display: flex;
  flex-direction: column; /* Información en vertical */
}

.info-grid p {
  margin: 5px 0; /* Espacio entre elementos */
}

.info-grid strong {
  font-weight: bold;
}

.card-one {
  margin-bottom: 15px;
}

.card-two {
    width: 100%;
    margin-bottom: 10px;
}

.card-three {
  width: 100%;
}

// .pdf-list {

// }
