.form-container {
  min-width: 150px;
  width: 100%;
  // border: 2px dotted rgb(96 139 168);
}

.container {
  // border: 2px dotted rgb(255, 0, 0);
  display: flex;
}

mat-form-field {
  // border: 2px dotted rgb(96 139 168);
  width: 100%;
}
