.filtros, .actions {
  margin-left: 15px;
  margin-right: 15px;
}

.actions {
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;

  .search-field {
    flex: 1 0 300px;

    mat-form-field {
      width: 100%;
    }
  }

  button[mat-raised-button] {
    margin-left: auto;
  }

  button[mat-button] {
    margin-left: 16px;
  }

  @media (max-width: 768px) {
    .search-field {
      flex: 1 0 150px;
    }

    button[mat-raised-button],
    button[mat-button] {
      margin-left: 0;
      margin-top: 16px;
      width: 100%;
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.button-container button {
  margin-left: 8px;
}

.badge-success {
  color: #fff;
  background-color: #1d7431;
}

.badge-warning {
  color: #fff;
  background-color: #af1717;
}

.mat-column-num_oficio {
  min-width: 120px;
  max-width: 180px;
  word-break: break-all;
}

.mat-column-diasAtraso, .mat-column-fecha_recepcion, .mat-column-folio {
  min-width: 80px;
  max-width: 110px;
}

.mat-column-atencion_otorgada {
  min-width: 140px;
  max-width: 200px;
}

// Estilos para el modal de estadísticas
::ng-deep {

  .swal-wide-popup {
    width: auto !important;
    max-width: 1200px !important;
  }

  .swal2-html-container {
    // Mejorar la legibilidad de la tabla
    .stats-table {
      th {
        white-space: nowrap;
        padding: 10px 12px !important;
      }

      td {
        padding: 10px 12px !important;
      }
    }

    // Mejorar el diseño responsivo
    @media (max-width: 768px) {
      .estadisticas-container {
        margin: -15px -20px;
      }
    }
  }

  // Mejorar la visualización en pantallas pequeñas
  @media (max-width: 640px) {
    .swal2-popup {
      padding: 0.5em !important;
    }

    .swal2-html-container {
      padding: 0.5em !important;
    }
  }
}

