.badge-success {
  color: #fff;
  background-color: #1d7431;
}

.badge-warning {
  color: #fff;
  background-color: #af1717;
}

.mat-column-num_oficio {
  min-width: 120px;
  max-width: 180px;
  word-break: break-all;
  /* border-right: 1px solid currentColor; */
  /* padding-right: 300px; */
}

.mat-column-diasAtraso {
  min-width: 80px;
  max-width: 120px;
}

.filtros {
  margin-left: 15px;
  margin-right: 15px;
}

form {
  display: flex; /* Organización horizontal de los elementos */
  flex-wrap: wrap; /* Permite que los elementos se ajusten a varias líneas si es necesario */
  gap: 16px; /* Espacio entre los elementos */
  align-items: center; /* Alinea verticalmente los elementos al centro */
  // flex-direction: column;

  .search-field {
    flex: 1 0 300px; /* Ancho mínimo de 200px para cada campo, permite que crezcan y se encojan */
    /* Opcional: Ajusta el ancho máximo si deseas limitar el crecimiento */
    /* max-width: 300px; */

    mat-form-field {
      width: 100%; /* Ocupa todo el ancho disponible dentro del contenedor .search-field */
    }
  }

  button[mat-raised-button] {
    margin-left: auto; /* Mueve el botón "Buscar" al extremo derecho */
  }

  button[mat-button] {
    margin-left: 16px; /* Espacio entre los botones */
  }

  /* Estilos responsivos (opcional) */
  @media (max-width: 768px) {
    .search-field {
      flex: 1 0 150px; /* Ancho mínimo para pantallas más pequeñas */
    }

    button[mat-raised-button],
    button[mat-button] {
      margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
      margin-top: 16px; /* Espacio entre los botones en pantallas pequeñas */
      width: 100%; /* Ocupa todo el ancho disponible */
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.button-container button {
  margin-left: 8px;
}
